table#subdomains {
  margin: 0 auto;
  border-collapse: collapse;
  font-family: Agenda-Light, sans-serif;
  font-weight: 100;
  background: #333; color: #fff;
  text-rendering: optimizeLegibility;
  border-radius: 5px;
}
table#subdomains caption {
  font-size: 2rem; color: #444;
  margin: 1rem;
}
table#subdomains thead th { font-weight: 600; }
table#subdomains thead th, table#subdomains tbody td {
  padding: .8rem; font-size: 1.4rem;
}
table#subdomains tbody td {
  padding: .8rem; font-size: 1.4rem;
  color: #444; background: #eee;
}
table#subdomains tbody tr:not(:last-child) {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

@media screen and (max-width: 600px) {
  table#subdomains caption { background-image: none; }
  table#subdomains thead { display: none; }
  table#subdomains tbody td {
    display: block; padding: .6rem;
  }
  table#subdomains tbody tr td:first-child {
    background: #666; color: #fff;
  }
	table#subdomains tbody td:before {
    font-weight: bold;
    display: inline-block;
    width: 6rem;
  }
}
